@model InnovexBackend.Models.AccountTypes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountTypes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Annual_interest_rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Annual_interest_rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Free_limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Free_limit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
