@model InnovexBackend.Models.TransactionsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TransactionsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_and_time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_and_time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction_fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transaction_fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Account_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Account_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
